body{
    margin: 0;
    padding: 0;
    /* background:; */
}

nav{
  width: 100%;
  background: black; /*Nu inteleg de ce ignora background aici... rezolvarea problemei ar rezulta in rezolvaream problemei si pentru text care scrolleaza asupra meniu*/
  overflow:auto;
}

ul {
  position:fixed; /*am pus fixed aici in loc de nav ca sa nu avem probleme cu toate elementele fiind puse in acelasi loc...*/
  padding: 0;
  margin: 0 0 0 140px;
  list-style:none;
}

li{
  float:left;
}

.log img{
margin-top: 500px;
margin-left:0px;
margin-right: 0px;
height: 58px;
width: 140px;
background: black;
margin: 0px;
}

nav a{
  width: 120px;  /* Hanna: am creat mai mult spatiu. */
  display: block;
  padding: 20px 15px;
  text-decoration: none;
  font-family: Arial;
  color: #f2f2f2;
}

.top-level{
    text-align: center;
}

.top-level:hover{ /* am schimbat proprietatile lui hover sa fie doar pentru top-level si nu pentru tot ce mosteneste nav a */
  background:red;
  transition:0.5;
  /* Hanna - parerea mea, arata mai bine fara transformare in uppercase text-transform: uppercase; */
}

.dropdown {
    display: none;
    position: absolute;
    color: black;
    background-color: white;
    min-width: 200px;
    white-space: nowrap;
    z-index: 1;
}

.top-level:hover .dropdown {
 display: block;
 border-color:white;
 border-style: solid;
}


.dropdown a{
    color: black;
    padding: 10px 10px 10px 10px;
    text-align: left;
}

.dropdown a:hover{
    background-color: black;
    min-width: 200px;
    color: white;
}

.sidebar /* am schimbat sa fie o pozitie fixata sa mereu fie sidebar la dreapta chiar daca facem scroll*/
{ 
  position: fixed;
  right: 0;
  top: 40px;
  width: 500px;
    float: right;
}

.trim
{
  margin: 0px;
  object-position: top;
  object-fit: scale-down;
 /* overflow: hidden;*/
}


.left-indent {
  margin-left: 25%;
  color: white;
}

.link {
  text-align: center;
  color: white;
  font-style: underline;
}
.link a {
  color: white;
}

.button {
  padding: 10px 30px 10px 30px;
  color: white;
  background-color: green;
}

.button:hover {
  background-color: darkgreen;
}

p {
  z-index: 1;

}

.main-grid {
    display: grid;
    grid-template-columns: 0.2fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 1fr;
    border: 1px solid red;
}

.grid-logo {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-column-end: 1;
    border: 1px solid blue;
}

.grid-nav {
    grid-row-start: 1;
    grid-column-start: 2;
    grid-column-end: 6;
    border: 1px solid green;
}

.logo-image {
    width: 100px;
}