
*{
    box-sizing:border-box;
}

p {
margin: 0 0 1em 0;
}

.image {
  height: 500px;
  width: 800px;
  box-shadow: 10px 10px 20px whitesmoke;
}

.container {
    width: 1300px;
    border: 5px white;
    border-radius: .5em;
    padding: 10px;
}

.item {
    width: 300px;
    padding: 10px;
    background-color: #17242E;
    color: white;
    text-align: left;
    border: 2px white;
    display: inline-block;
    vertical-align: top;
}


/* Button used to open the contact form */
.open-button {
  background-color: #1F6397;
  color:white;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  bottom: 0;
  right: 15px;
  border: 2px solid white;
  z-index: 0;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: #17242E;
  color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 10px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #1F6397;
  color: white;
  padding: 10px 10px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}